<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>type</key>
		<string>classic</string>
		<key>content</key>
		<dict>
			<key>golden_text_color</key>
			<integer>3158064</integer>
			<key>activity_view_style</key>
			<integer>1</integer>
			<key>theme_color</key>
			<real>16736256</real>
			<key>theme_title_color</key>
			<integer>16777215</integer>
			<key>common_text_color</key>
			<real>3158064</real>
			<key>main_color</key>
			<integer>8704338</integer>
			<key>bg_color</key>
			<real>15921906</real>
			<key>bg_white_color</key>
			<real>16579836</real>
			<key>bg_normal_color</key>
			<real>15921906</real>
			<key>text_color</key>
			<integer>0</integer>
			<key>placeholder_color</key>
			<integer>0</integer>
			<key>tab_bg_color</key>
			<integer>16316664</integer>
			<key>tab_shadow_color</key>
			<real>13421772</real>
			<key>tab_tint_color</key>
			<real>16736256</real>
			<key>tab_bartint_color</key>
			<integer>0</integer>
			<key>table_seperotor_color</key>
			<integer>0</integer>
			<key>setting_main_bg_color</key>
			<integer>16777215</integer>
			<key>setting_toolbar_title_color</key>
			<real>3158064</real>
			<key>chat_sender_text_color</key>
			<integer>16777215</integer>
			<key>chat_recv_text_color</key>
			<integer>0</integer>
			<key>chat_toolbar_bg_color</key>
			<real>16185078</real>
			<key>conversation_section_color</key>
			<real>15790320</real>
			<key>conversation_bg_color</key>
			<real>16777215</real>
			<key>conversation_title_color</key>
			<real>3158064</real>
			<key>conversation_detail_color</key>
			<real>7829367</real>
			<key>conversation_time_color</key>
			<real>10066329</real>
			<key>conversation_line_color</key>
			<integer>12237498</integer>
			<key>unread_bg_color</key>
			<real>8704338</real>
			<key>unread_text_color</key>
			<integer>16777215</integer>
			<key>segment_text_color</key>
			<real>3158064</real>
			<key>segment_select_text_color</key>
			<real>3158064</real>
			<key>segment_bottom_line_color</key>
			<real>16736256</real>
			<key>segment_bg_color</key>
			<integer>16777215</integer>
			<key>wallet_table_seperate_color</key>
			<integer>15329769</integer>
			<key>wallet_coin_name_color</key>
			<integer>5135727</integer>
			<key>wallet_coin_money_count_color</key>
			<integer>5135727</integer>
			<key>wallet_theme_color</key>
			<integer>16777215</integer>
			<key>msg_input_text_color</key>
			<integer>0</integer>
			<key>button_true_color</key>
			<integer>1297022</integer>
			<key>input_bg_color</key>
			<integer>16777215</integer>
			<key>segment_trade_text_color</key>
			<integer>8618883</integer>
			<key>segment_trade_select_text_color</key>
			<integer>8618883</integer>
			<key>tradeteam_left_color</key>
			<real>5135727</real>
			<key>tradeteam_right_color</key>
			<integer>5135727</integer>
			<key>input_text_border_color</key>
			<integer>11382189</integer>
			<key>trade_input_text_color</key>
			<integer>8618883</integer>
			<key>trade_detail_83_color</key>
			<integer>8618883</integer>
			<key>trade_detail_6e_color</key>
			<integer>7237230</integer>
			<key>trade_detail_c8_color</key>
			<real>13158600</real>
			<key>buttonItem_tint_color</key>
			<real>3158064</real>
			<key>theme_special_color</key>
			<real>3158064</real>
			<key>user_info_bg_color</key>
			<integer>15725305</integer>
			<key>user_info_white_bg_color</key>
			<real>16777215</real>
			<key>common_text_white_color</key>
			<integer>16777215</integer>
			<key>setting_user_nick</key>
			<integer>16777215</integer>
			<key>eos_source_title_color</key>
			<integer>3158064</integer>
			<key>eos_source_detail_color</key>
			<integer>8618883</integer>
			<key>back_up_text_color</key>
			<integer>4283325807</integer>
			<key>setting_bg_color</key>
			<real>15921906</real>
		</dict>
		<key>file</key>
		<dict>
			<key>navigationbar_image</key>
			<string>navgationBG</string>
			<key>LZConversationViewController_tab</key>
			<string>tab_conversation_black_unselected</string>
			<key>LZConversationViewController_tab_sel</key>
			<string>home_normalpressed</string>
			<key>LZNewWalletViewController_tab</key>
			<string>tab_wallet_black_unselected</string>
			<key>LZNewWalletViewController_tab_sel</key>
			<string>wallet_normalpressed</string>
			<key>LZTradeTeamSegmetViewController_tab</key>
			<string>tab_trade_black_unselected</string>
			<key>LZTradeTeamSegmetViewController_tab_sel</key>
			<string>exchange_normalpressed</string>
			<key>ONEMineViewController_tab</key>
			<string>tab_me_black_unselected</string>
			<key>ONEMineViewController_tab_sel</key>
			<string>profile_normalpressed</string>
			<key>ContactListViewController_tab</key>
			<string>tab_contacts_normal</string>
			<key>ContactListViewController_tab_sel</key>
			<string>tab_contacts_selected</string>
			<key>icon_addressbook</key>
			<string>address_book</string>
			<key>icon_search_group</key>
			<string>group_search</string>
			<key>icon_nav_more_info</key>
			<string>nav_more_info</string>
			<key>icon_group_detail</key>
			<string></string>
			<key>icon_kline</key>
			<string>kline_black</string>
			<key>icon_new_friend</key>
			<string></string>
			<key>icon_group_invitation</key>
			<string></string>
			<key>icon_group_list</key>
			<string></string>
			<key>icon_noti_center</key>
			<string>center_title_image</string>
			<key>setting_item_fenhong</key>
			<string>setting_item_fenhong_normal</string>
			<key>setting_item_inout</key>
			<string>setting_item_money_go_normal</string>
			<key>setting_item_announcement</key>
			<string>setting_item_announce_normal</string>
			<key>setting_item_backup</key>
			<string>setting_item_backup_normal</string>
			<key>setting_item_mining</key>
			<string>setting_item_mining_normal</string>
			<key>setting_item_nodeplan</key>
			<string>setting_item_node_plan_normal</string>
			<key>setting_item_help</key>
			<string>setting_item_help_normal</string>
			<key>setting_item_eth_change</key>
			<string>setting_item_eth_normal</string>
			<key>setting_item_more</key>
			<string>setting_item_more_normal</string>
			<key>chat_send_bubble_bg</key>
			<string>Rectangle 3 Copy 17</string>
			<key>chat_recv_bubble_bg</key>
			<string>Rectangle 3 Copy 19</string>
			<key>wallet_balance_bg</key>
			<string>wallet_balance_orange</string>
			<key>wallet_trade_bg</key>
			<string>wallet_trade_orange</string>
			<key>wallet_red_bg</key>
			<string>wallet_red_orange</string>
			<key>nav_back_btn</key>
			<string>icon_back</string>
			<key>wallet_detail_bg</key>
			<string>wallet_balance_orange</string>
			<key>wallet_detail_red_bg</key>
			<string>wallet_red_orange</string>
			<key>wallet_detail_trade_bg</key>
			<string>wallet_trade_orange</string>
			<key>user_info_bg</key>
			<string>setting_info_bg_normal</string>
			<key>setting_item_qr_code</key>
			<string>setting_item_qr_code_blue</string>
			<key>setting_item_more_setting</key>
			<string>setting_item_setting_blue</string>
			<key>entrust_detail_bg_image</key>
			<string>simple_shadow_bg</string>
			<key>setting_item_task</key>
			<string>setting_item_task_normal</string>
			<key>setting_item_node</key>
			<string>setting_item_node_normal</string>
			<key>setting_item_newton</key>
			<string>setting_item_newton_normal</string>
			<key>setting_item_dapp</key>
			<string>setting_item_dapp_normal</string>
			<key>offset_bg_image</key>
			<string>Rectangle 105</string>
			<key>conversation_group_mark</key>
			<string>conversation_group_icon</string>
			<key>group_detail_icon</key>
			<string>group_detail_normal</string>
			<key>navigationbar_image_x</key>
			<string>nav_bg_white_x</string>
			<key>navigationbar_image_plus</key>
			<string>navgationBG_plus</string>
			<key>setting_item_flash</key>
			<string>item_flash_orange</string>
			<key>setting_item_news</key>
			<string>item_news_orange</string>
			<key>setting_item_market</key>
			<string>item_market_orange</string>
			<key>nav_shadow_image</key>
			<string>nav_shadow_white</string>
			<key>chat_tool_more</key>
			<string>WechatIMG</string>
			<key>icon_redbag_mine</key>
			<string>icon_mine_redbag_normal</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>type</key>
		<string>blue</string>
		<key>content</key>
		<dict>
			<key>golden_text_color</key>
			<real>16765046</real>
			<key>theme_color</key>
			<real>16765046</real>
			<key>theme_title_color</key>
			<real>3158064</real>
			<key>common_text_color</key>
			<real>13158600</real>
			<key>main_color</key>
			<real>16765046</real>
			<key>bg_color</key>
			<real>2039583</real>
			<key>bg_white_color</key>
			<real>1644825</real>
			<key>bg_normal_color</key>
			<real>2105376</real>
			<key>text_color</key>
			<real>7829367</real>
			<key>placeholder_color</key>
			<integer>0</integer>
			<key>tab_bg_color</key>
			<integer>2500134</integer>
			<key>tab_shadow_color</key>
			<real>1644825</real>
			<key>tab_tint_color</key>
			<real>16777215</real>
			<key>tab_bartint_color</key>
			<integer>0</integer>
			<key>activity_view_style</key>
			<integer>0</integer>
			<key>unread_bg_color</key>
			<real>16765046</real>
			<key>unread_text_color</key>
			<real>3158064</real>
			<key>table_seperotor_color</key>
			<integer>0</integer>
			<key>conversation_title_color</key>
			<real>13158600</real>
			<key>conversation_detail_color</key>
			<real>7829367</real>
			<key>conversation_time_color</key>
			<integer>10066329</integer>
			<key>conversation_line_color</key>
			<integer>3158064</integer>
			<key>conversation_section_color</key>
			<real>2960685</real>
			<key>conversation_bg_color</key>
			<integer>1644825</integer>
			<key>setting_user_nick</key>
			<real>16765046</real>
			<key>setting_item_text_color</key>
			<integer>13158600</integer>
			<key>setting_main_bg_color</key>
			<real>1644825</real>
			<key>setting_toolbar_title_color</key>
			<real>16765046</real>
			<key>chat_sender_text_color</key>
			<integer>3158064</integer>
			<key>chat_recv_text_color</key>
			<integer>16777215</integer>
			<key>chat_toolbar_bg_color</key>
			<integer>1644825</integer>
			<key>segment_text_color</key>
			<real>13158600</real>
			<key>segment_select_text_color</key>
			<integer>13158600</integer>
			<key>segment_bottom_line_color</key>
			<real>16765046</real>
			<key>segment_bg_color</key>
			<integer>1644825</integer>
			<key>wallet_table_seperate_color</key>
			<real>4605510</real>
			<key>wallet_coin_name_color</key>
			<integer>16765046</integer>
			<key>wallet_coin_money_count_color</key>
			<integer>13158600</integer>
			<key>wallet_theme_color</key>
			<real>16765046</real>
			<key>msg_input_text_color</key>
			<real>8618883</real>
			<key>button_true_color</key>
			<integer>16765046</integer>
			<key>input_bg_color</key>
			<real>4210752</real>
			<key>segment_trade_text_color</key>
			<integer>8618883</integer>
			<key>segment_trade_select_text_color</key>
			<integer>16765046</integer>
			<key>tradeteam_left_color</key>
			<integer>16765046</integer>
			<key>tradeteam_right_color</key>
			<integer>13158600</integer>
			<key>input_text_border_color</key>
			<real>8618883</real>
			<key>trade_input_text_color</key>
			<real>16777215</real>
			<key>trade_detail_83_color</key>
			<integer>8618883</integer>
			<key>trade_detail_6e_color</key>
			<real>7237230</real>
			<key>trade_detail_c8_color</key>
			<integer>13158600</integer>
			<key>buttonItem_tint_color</key>
			<integer>16777215</integer>
			<key>theme_special_color</key>
			<real>16765046</real>
			<key>user_info_bg_color</key>
			<real>2039583</real>
			<key>user_info_white_bg_color</key>
			<real>1644825</real>
			<key>common_text_white_color</key>
			<real>13158600</real>
			<key>eos_source_title_color</key>
			<real>13158600</real>
			<key>eos_source_detail_color</key>
			<real>7829367</real>
			<key>back_up_text_color</key>
			<real>13158600</real>
			<key>setting_bg_color</key>
			<real>2105376</real>
		</dict>
		<key>file</key>
		<dict>
			<key>navigationbar_image</key>
			<string>navigation_bar_black</string>
			<key>LZConversationViewController_tab</key>
			<string>tab_conversation_black_unselected</string>
			<key>LZConversationViewController_tab_sel</key>
			<string>tab_conversation_black_selected</string>
			<key>LZNewWalletViewController_tab</key>
			<string>tab_wallet_black_unselected</string>
			<key>LZNewWalletViewController_tab_sel</key>
			<string>tab_wallet_black_selected</string>
			<key>LZTradeTeamSegmetViewController_tab</key>
			<string>tab_trade_black_unselected</string>
			<key>LZTradeTeamSegmetViewController_tab_sel</key>
			<string>tab_trade_black_selected</string>
			<key>ONEMineViewController_tab</key>
			<string>tab_me_black_unselected</string>
			<key>ONEMineViewController_tab_sel</key>
			<string>tab_me_black_selected</string>
			<key>ContactListViewController_tab</key>
			<string>tab_contacts_normal</string>
			<key>ContactListViewController_tab_sel</key>
			<string>tab_contacts_black_selected</string>
			<key>user_info_bg</key>
			<string>setting_info_bg_black</string>
			<key>setting_item_fenhong</key>
			<string>black_icon_fenhong</string>
			<key>setting_item_inout</key>
			<string>black_icon_inout</string>
			<key>setting_item_announcement</key>
			<string>black_icon_announce</string>
			<key>setting_item_backup</key>
			<string>black_icon_backup</string>
			<key>setting_item_mining</key>
			<string>black_icon_mining</string>
			<key>setting_item_nodeplan</key>
			<string>black_icon_node_plan</string>
			<key>setting_item_help</key>
			<string>black_icon_help</string>
			<key>setting_item_eth_change</key>
			<string>black_icon_eth</string>
			<key>setting_item_more</key>
			<string>black_icon_more</string>
			<key>chat_send_bubble_bg</key>
			<string>chat_send_bubble_black</string>
			<key>chat_recv_bubble_bg</key>
			<string>chat_recv_bubble_black</string>
			<key>wallet_balance_bg</key>
			<string>wallet_balance_bg_black</string>
			<key>wallet_trade_bg</key>
			<string>wallet_trade_bg_black</string>
			<key>wallet_red_bg</key>
			<string>wallet_red_bg_black</string>
			<key>nav_back_btn</key>
			<string>icon_back_white</string>
			<key>icon_addressbook</key>
			<string>item_contact_black</string>
			<key>icon_search_group</key>
			<string>item_group_search_black</string>
			<key>icon_nav_more_info</key>
			<string>item_add_btn_black</string>
			<key>icon_kline</key>
			<string>kline_white</string>
			<key>wallet_detail_bg</key>
			<string>wallet_balance_bg_black</string>
			<key>wallet_detail_red_bg</key>
			<string>wallet_red_bg_black</string>
			<key>wallet_detail_trade_bg</key>
			<string>wallet_trade_bg_black</string>
			<key>setting_item_qr_code</key>
			<string>icon_setting_qr_code</string>
			<key>setting_item_more_setting</key>
			<string>icon_setting_setting</string>
			<key>entrust_detail_bg_image</key>
			<string>history_bg_black</string>
			<key>setting_item_task</key>
			<string>setting_item_task_black</string>
			<key>setting_item_node</key>
			<string>setting_item_node_black</string>
			<key>setting_item_newton</key>
			<string>setting_item_newton_black</string>
			<key>setting_item_dapp</key>
			<string>setting_item_dapp_black</string>
			<key>offset_bg_image</key>
			<string>history_bg_black</string>
			<key>conversation_group_mark</key>
			<string>conversation_group_icon_black</string>
			<key>icon_noti_center</key>
			<string>icon_noti_center_black</string>
			<key>group_detail_icon</key>
			<string>group_detail_black</string>
			<key>navigationbar_image_x</key>
			<string>nav_bg_x_black</string>
			<key>navigationbar_image_plus</key>
			<string>nav_bg_plus_black</string>
			<key>setting_item_flash</key>
			<string>item_flash_black</string>
			<key>setting_item_news</key>
			<string>item_news_black</string>
			<key>setting_item_market</key>
			<string>item_market_black</string>
			<key>nav_shadow_image</key>
			<string>nav_shadow_black</string>
			<key>chat_tool_more</key>
			<string>icon_chatbar_more_black</string>
			<key>icon_redbag_mine</key>
			<string>icon_mine_redbag_black</string>
		</dict>
	</dict>
</array>
</plist>
